$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

// CSS Animations
@keyframes showLinesIn {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  90% {
    width: 245px;
  }

  100% {
    width: 230px;
  }
}
@keyframes showLinesOut {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    width: 230px
  }

  10% {
    width: 245px;
  }

  100% {
    width: 45px;
  }
}
@keyframes showCurrentLine {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  100% {
    right: 0px;
  }
}

@keyframes hideCurrentLine {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  100% {
    right: -250px;
  }
}

// Fonts
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700";
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-d95m3b');
  src:url('../fonts/icomoon.eot?#iefix-d95m3b') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-d95m3b') format('woff'),
    url('../fonts/icomoon.ttf?-d95m3b') format('truetype'),
    url('../fonts/icomoon.svg?-d95m3b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-link-external:before {
  content: "\f07f";
}
.icon-uniE600:before {
  content: "\e600";
}
.icon-github:before {
  content: "\f09b";
}


$blue: #3d7296;
$green: #31ad22;
$yellow: #dfb40f;

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

body {
  background: #ccc;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background: $blue;
  color: #fff;
  z-index: 10;
  #mobile-menu {
    display: none;
    float: right;
    background: url(../images/list.svg) no-repeat center center;
    background-size: 100%;
    width: 20px;
    height: 20px;
    margin: 3px 5px 0 0;
    color: #fff;
    @media(max-width:$screen-xs-max){
      display: block;
    }
  }
  .tube-logo {
    float: left;
    width: 25px;
    height: 25px;
    background: url(../images/tube.svg) no-repeat;
    background-size: 100%;
    margin: 10px 10px 0;
    @media(max-width:$screen-xs-max){
      width: 15px;
      height: 15px;
      margin: 7px 7px 0;
    }
  }
  h1 {
    float: left;
    margin: 0;
    font-size: 22px;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
    @media(max-width:$screen-xs-max){
      font-size: 14px;
      padding: 7px 0;
    }
  }
  #share {
    float: right;
    margin: 10px 10px 0 0;
    @media(max-width:$screen-xs-max){
      display: none;
    }
    .item {
      float: right;
    }
  }
}

#lines {
  position: fixed;
  top: 44px;
  left: 0px;
  bottom: 0px;
  color: #fff;
  z-index: 10;
  width: 44px;
  @media(max-width:$screen-xs-max){
    width: 25px;
    top: 29px;
  }
  #map-controls {
    position: absolute;
    left: 55px;
    top: 10px;
    width: 410px;
    @media(max-width:$screen-xs-min){
      display: none;
      text-align: right;
      left: 25px;
      top: 0px;
      width: 295px;
      padding: 10px;
      &.showMobile {
        display: block;
      }
    }
    @media(max-width:$screen-xs-max){
      display: none;
      text-align: right;
      left: 200px;
      top: 0px;
      width: 370px;
      padding: 10px;
      &.showMobile {
        display: block;
      }
    }
    a {
      font-size: 12px;
      background: darken($blue, 10%);
      color: #fff;
      border: 0px;
      @media(max-width:$screen-xs-max){
        font-size: 10px;
        padding: 4px 10px 6px;
      }
      &.active {
        background: darken($blue, 20%);
      }
      &:hover {
        background: darken($blue, 15%);
      }
    }
    .btn-group {
      @media(max-width:$screen-xs-min){
        display: block;
        margin-top: 7px;
        float: right;
      }
      .btn {
        border-left: 1px solid $blue;
        &:first-child {
          border-left: 0px;
        }
      }
    }
  }
  #github {
    background: darken($green, 5%);
    color: lighten($green, 15%);
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 11;
    font-size: 26px;
    padding: 9px 7px 4px 11px;
    line-height: 26px;
    @media(max-width:$screen-xs-max){
      font-size: 18px;
      padding: 3px 3px 0px 4px;
    }
    &:hover {
      color: lighten($green, 30%);
      text-decoration: none;
    }
  }
  ul {
    position: relative;
    z-index: 3;
    padding: 0px;
    margin: 0px;
    list-style: none;
    z-index: 10;
    &#station-colors {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      background: $green;
      .line-color {
        float: left;
        display: block;
        width: 45px;
        height: 44px;
        position: relative;
        z-index: 10;
        @media(max-width:$screen-xs-max){
            width: 25px;
            height: 24px;
        }
      }
      .line-name-popup {
        &.animated {
          display: block;
          @media(max-width:$screen-xs-max){
            display: none;
          }
        }
        position: absolute;
        left: 55px;
        width: 190px;
        margin-top: 1px;
        background: rgba(0,0,0,0.8);
        color: #fff;
        padding: 10px;
        border-radius: 3px;
        display: none;
        z-index: 9;
        &:after {
          right: 100%;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(0, 0, 0, 0);
          border-right-color: rgba(0,0,0,0.8);
          border-width: 10px;
          margin-top: -10px;
        }
      }
    }
    li {
      cursor: pointer;
    }
  }
}

#currentline {
  position: fixed;
  top: 44px;
  right: -50px;
  bottom: 0px;
  background: $yellow;
  width: 300px;
  display: none;
  color: #fff;
  z-index: 10;
  @media(max-width:$screen-xs-min){
    top: 400px;
    width: 345px;
    &.hideForMobile {
      display: none !important;
    }
  }
  @media(max-width:$screen-xs-max){
    width: 250px;
    top: 29px;
    &.hideForMobile {
      display: none !important;
    }
  }
  &.bounceOutRight,
  &.bounceInRight {
    display: block;
  }
  ul {
    margin: 10px 0 0;
    padding: 0px;
    list-style: none;
    position: relative;
    @media(max-width:$screen-xs-min){
      margin-top: 0px;
      height: 137px;
      overflow: scroll;
    }
    @media(max-width:$screen-xs-max){
      margin-top: 0px;
      height: 260px;
      overflow: scroll;
      li {
        font-size: 12px;
      }
    }
    li {
      padding: 10px;
      cursor: pointer;
      margin-left: 35px;
      position: relative;
      &:not(:hover) {
        .name {
          opacity: 0.8;
        }
      }
      &.no-stations {
        width: 250px;
        cursor: default;
        margin-left: 0px;
        margin-right: 20px;
      }
      span {
        position: absolute;
        left: -18px;
        &:before {
          content: "";
          display: block;
          position: absolute;
          left: 6px;
          height: 20px;
          width: 5px;
          background: #fff;
        }
        &.first,
        &.last {
          width: 16px;
          height: 16px;
          top: 11px;
          background: #fff;
          border-radius: 20px;
        }
        &.first {
          &:before {
            top: 10px;
          }
        }
        &.last {
          &:before {
            top: -15px;
          }
        }
        &.middle {
          &:after {
            content: "";
            display: block;
            position: absolute;
            left: 6px;
            top: 6px;
            height: 5px;
            width: 15px;
            background: #fff;
          }
          &:before {
            height: 40px;
            top: -13px;
          }
        }
      }
    }
  }
  #closeLine {
    color: #fff;
    position: absolute;
    top: 0px;
    left: -38px;
    padding: 10px 12px;
    background: darken($yellow, 5%);
    @media(max-width:$screen-xs-min){
      left: 0px;
      top: -30px;
      padding: 5px 7px;
    }
    @media(max-width:$screen-xs-max){
      left: -28px;
      padding: 5px 7px;
    }
    &:hover {
      text-decoration: none;
      background: lighten($yellow, 5%);
    }
  }
  h3 {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 10px 0;
    margin: 0;
    font-size: 18px;
    opacity: 0.5;
    @media(max-width:$screen-xs-max){
      font-size: 16px;
      padding: 7px;
    }
  }
}

#station {
  z-index: 9;
  position: fixed;
  background: #fff;
  bottom: -50px;
  right: 0px;
  padding-bottom: 65px;
  left: 44px;
  display: none;
  @media(max-width:$screen-xs-max){
    left: 25px;
  }
  .mobile-back {
    display: none;
    padding: 10px 7px 5px;
    text-decoration: underline;
    font-size: 12px;
    @media(max-width:$screen-xs-max){
      display: block;
    }
  }
  &.animated {
    display: block;
  }
  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #333;
    margin: 10px 10px 5px;
    @media(max-width:$screen-xs-max){
      font-size: 18px;
      margin: 0px 7px 3px;
    }
  }
  h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0px 10px 10px;
    color: #999;
    @media(max-width:$screen-xs-max){
      font-size: 12px;
      margin: 0px 8px 5px;
    }
  }
  .meta {
    margin-left: 7px;
    width: 450px;
    .column {
      margin-right: 20px;
      float: left;
      @media(max-width:$screen-xs-min){
        font-size: 11px;
        margin-right: 0;
        float: none;
      }
      @media(max-width:$screen-xs-max){
        font-size: 11px;
      }
      strong {
        display: block;
      }
      span {
        font-size: 16px;
        @media(max-width:$screen-xs-max){
          font-size: 12px;
        }
      }
    }
  }
  #excerpt {
    margin: 10px 0 0 10px;
    width: 700px;
    @media(max-width:$screen-xs-max){
      display: none;
    }
     p {
      margin-bottom: 5px;
     }
  }
  #wikilink {
    color: $green;
    display: block;
    margin-left: 7px;
    margin-top: 5px;
    @media(max-width:$screen-xs-max){
      font-size: 11px;
    }
    span {
      font-size: 10px;
      margin-left: 5px;
    }
  }
}

#map {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 45px;
  z-index: 1;
  @media(max-width:$screen-xs-max){
    left: 25px;
  }
}