<nav id="lines">
	<ul id="station-colors">
		<li 
			ng-repeat="line in lines"
			class="{{line.id}} clearfix" 
			ng-click="showLine(line.properties)"
			ng-mouseenter="overClass = 'animated bounceInLeft'"
			ng-mouseleave="overClass = 'animated bounceOutLeft'">

			<span style="background: {{line.properties.color}}" class="line-color"></span>
			<div class="line-name-popup {{overClass}}">{{line.properties.name}}</div>
			
		</li>
	</ul>

	<a href="https://github.com/Joe8Bit/abandoned-stations" id="github" title="View this project on Github"><span class="icon-github"></span></a>
</nav>