<header role="header" class="clearfix">
	<div class="tube-logo"></div>
	<h1>Abandoned Tube Stations</h1>
	<div id="share" class="clearfix">
		<div class="item">
			<div class="fb-like" data-href="https://joe8bit.com/projects/abandoned-tube-stations/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
		</div>
		<div class="item">
			<a href="https://twitter.com/share" class="twitter-share-button" data-via="Joe8Bit">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</div>
	</div>
</header>